<!-- Hero | START -->
<section class="electrification-header-container | section-container-black">

    <div class="hero-content-wrapper">

        <div class="content-container">
            <div class="img-container">
                <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/Liftow-TMH-logo-KO.svg?v=1724851913" alt="Liftow logo" class="liftow-logo | img-full-width">
            </div>
            <div class="header-content-container">
                <h1 class="hero-main-copy">{{ section.settings.hero-headline }}</h1>
                <p>{{ section.settings.hero-subheadline }}</p>
                <!-- <a href="#" class="cta-link">
                    <button class="cta-template | hero">Learn more</button>
                </a> -->
            </div>
            <div class="img-container product">
                <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/electric-equipment-lineup.png?v=1736537166" alt="Liftow's Toyota lineup of electric forklifts" class="product-img ">
            </div>
        </div>

        <!-- Form | START -->
        
        <div id="cta-form" class="form-content-container">

        <div id="form-contact" class="action-contact-form">
            <h3 class="contact-specialist">{{ section.settings.form-headline }} </h3>
            <div class="form">
                {% render 'j-contact-form' %}
                </div>
            </div>
        </div>
        
        <!-- Form | END -->

    </div>

</section>
<!-- Hero | END -->

<!-- Spacer | START -->
{{ section.settings.spacer }}
<!-- Spacer | END -->


<!-- Liftow Partnership | START -->
<section class="liftow-partnership">

    <div class="content-container">

        <h2>{{ section.settings.liftow-section-headline }}</h2>
        <p>{{ section.settings.liftow-section-subheadline }} </p>

    </div>

    <div class="card-container | content-container">

        <div class="card">
            <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/icon_electrification_solutions.svg?v=1736540376" alt="Tailored solutions" class="card-icon">
            <h3>{{ section.settings.liftow-section-card-01-headline }}</h3>
            <p>{{ section.settings.liftow-section-card-01-subheadline }}</p>
        </div>

        <div class="card">
            <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/icon_electrification_preferred-suppliers.svg?v=1736540376" alt="Preferred power suppliers" class="card-icon">
            <h3>{{ section.settings.liftow-section-card-02-headline }}</h3>
            <p>{{ section.settings.liftow-section-card-02-subheadline }} </p>
        </div>

        <div class="card">
            <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/icon_electrification_lower-pricing.svg?v=1736540376" alt="Competitive pricing" class="card-icon">
            <h3>{{ section.settings.liftow-section-card-03-headline }}</h3>
            <p>{{ section.settings.liftow-section-card-03-subheadline }} </p>
        </div>

        <div class="card">
            <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/icon_electrification_lead-times.svg?v=1736540376" alt="Best lead times" class="card-icon">
            <h3>{{ section.settings.liftow-section-card-04-headline }}</h3>
            <p>{{ section.settings.liftow-section-card-04-subheadline }} </p>
        </div>
        
    </div>

</section>
<!-- Liftow Partnership | END -->



<!-- !! HIDE FOR NOW | START !! -->
<!-- Cost Calculator | START -->
<section class="cost-calculator">

    <div class="main-content-container">

        <div class="left-col"> </div>

        <div class="content-container">

            <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/energy-savings-icon-lg-ko.svg?v=1736541987" alt="Energy savings icon">

            <div class="content-wrapper">
                <h2>{{ section.settings.cost-calculator-headline }}</h2>
                <p>{{ section.settings.cost-calculator-subheadline }}</p>
                <a href="#cta-form"><button class="cta-template">{{ section.settings.cost-calculator-button }}</button></a>
            </div>

        </div>

    </div>

</section>
<!-- Cost Calculator | END -->
<!-- !! HIDE FOR NOW | END !! -->



<!-- E-bike Giveaway Webinar | START -->
<section id="e-bike-giveaway" class="e-bike-giveaway">

    <div class="main-content-container">

        <div class="e-bike">
            <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/Liftow-e-bike_updated.png?v=1707319218">
        </div>

        <div class="content-container">
            <div class="content-wrapper">
                <h2>{{ section.settings.e-bike-headline01 }}</h2>
                <h3>{{ section.settings.e-bike-subheadline }}</h3>
                <p>{{ section.settings.e-bike-para }}</p>

                <a href="https://streamyard.com/watch/q9cNNS9gnChT" target="_blank"><button class="cta-template">{{ section.settings.e-bike-button }}</button></a>
            </div>
        </div>

    </div>

</section>
<!-- E-bike Giveaway Webinar | END -->



<!-- Electric Equipment | START -->
 <section class="electric-equipment">

    <div class="content-container">
        <h2>{{ section.settings.featured-equip-headline }}</h2>
        <p>{{ section.settings.featured-equip-subheadline }} </p>
    </div>

    

        <!-- Equipment Item | Electric walkies -->
        <div class="equipment-main-container">

            <h3>{{ section.settings.featured-equip-walkies-headline }}</h3>

                <div class="equipment-container walkies">

                    <!-- Equipment Item -->
                    <div class="equipment-item">
                        <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/equipment_tora-max-electric-walkie.jpg?v=1736799352" alt="Tora-Max Compact Electric Walkie Pallet jack" class="equipment-img">
                        <div class="equipment-info">
                            <div class="equipment-desc">
                                <h4>{{ section.settings.walkies-01-headline }}</h4>
                                <p>{{ section.settings.walkies-01-desc }}</p>
                            </div>
                            <hr>
                            <ul>
                                {{ section.settings.walkies-01-features }}
                            </ul>
                        </div>
                    </div>
                    <!-- Equipment Item -->
                    <div class="equipment-item">
                        <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/equipment_toyota-electric-walkie.jpg?v=1736799352" alt="Toyota Electric Walkie Pallet Jack" class="equipment-img">
                        <div class="equipment-info">
                            <div class="equipment-desc">
                                <h4>{{ section.settings.walkies-02-headline }}</h4>
                                <p>{{ section.settings.walkies-02-desc }}</p>
                            </div>
                            <hr>
                            <ul>
                                {{ section.settings.walkies-02-features }}
                            </ul>
                        </div>
                    </div>
                    <!-- Equipment Item -->
                    <div class="equipment-item">
                        <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/equipment_toyota-end-controlled-rider.jpg?v=1736799352" alt="Toyota electric End-Controlled Rider Pallet Jack" class="equipment-img">
                        <div class="equipment-info">
                            <div class="equipment-desc">
                                <h4>{{ section.settings.walkies-03-headline }}</h4>
                                <p>{{ section.settings.walkies-03-desc }}</p>
                            </div>
                            <hr>
                            <ul>
                                {{ section.settings.walkies-03-features }}
                            </ul>
                        </div>
                    </div>

                </div>

                <a href="#cta-form"><button class="cta cta-template secondary">{{ section.settings.featured-equip-btn }}</button></a>

        </div>

        <div class="equipment-main-container forklifts">

            <!-- Equipment Item | 3-Wheel Electric Forklifts -->
            <div class="equipment-container">
                <div class="equipment-item">
                    <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/3-wheel-electric-forklifts.jpg?v=1736799429" alt="Toyota 3-wheel electric forklift" class="equipment-img">
                    <div class="equipment-info">
                        <div class="equipment-desc">
                            <h4>{{ section.settings.three-wheel-headline }}</h4>
                            <p>{{ section.settings.three-wheel-desc }}</p>
                        </div>
                        <hr>
                        <ul>
                            {{ section.settings.three-wheel-features }}
                        </ul>
                    </div>
                    <a href="#cta-form"><button class="cta cta-template secondary">{{ section.settings.featured-equip-btn }}</button></a>
                </div>
            </div>
            
            <!-- Equipment Item | Core Electric Forklifts -->
            <div class="equipment-main-container">
                <div class="equipment-item">
                    <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/core-electric-forklifts.jpg?v=1736799352" alt="Toyota Core Electric Forklift" class="equipment-img">
                    <div class="equipment-info">
                        <div class="equipment-desc">
                            <h4>{{ section.settings.core-headline }}</h4>
                            <p>{{ section.settings.core-desc }}</p>
                        </div>
                        <hr>
                        <ul>
                            {{ section.settings.core-features }}
                        </ul>
                    </div>
                    <a href="#cta-form"><button class="cta cta-template secondary">{{ section.settings.featured-equip-btn }}</button></a>
                </div>
            </div>

            <!-- Equipment Item | 48V Electric Pneumatic Forklifts -->
            <div class="equipment-main-container">
                <div class="equipment-item">
                    <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/48V-Electric-Pneumatic-Forklift_e240dddb-62b3-41df-980f-b5c3faa52599.jpg?v=1736799352" alt="Toyota 48V Electric Pneumatic Forklifts " class="equipment-img">
                    <div class="equipment-info">
                        <div class="equipment-desc">
                            <h4>{{ section.settings.forty-eight-v-pneumatic-headline }}</h4>
                            <p>{{ section.settings.forty-eight-v-pneumatic-desc }}</p>
                        </div>
                        <hr>
                        <ul>
                            {{ section.settings.forty-eight-v-pneumatic-features }}
                        </ul>
                    </div>
                    <a href="#cta-form"><button class="cta cta-template secondary">{{ section.settings.featured-equip-btn }}</button></a>
                </div>
            </div>

            <!-- Equipment Item | 80V Electric Forklifts -->
            <div class="equipment-main-container">
                <div class="equipment-item">
                    <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/80V-Electric-Forklift_4c070bae-daad-4781-82e5-4929e7786d2a.jpg?v=1736799352" alt="Toyota 80V Electric Forklifts" class="equipment-img">
                    <div class="equipment-info">
                        <div class="equipment-desc">
                            <h4>{{ section.settings.eighty-v-pneumatic-headline }}</h4>
                            <p>{{ section.settings.eighty-v-pneumatic-desc }}</p>
                        </div>
                        <hr>
                        <ul>
                            {{ section.settings.eighty-v-pneumatic-features }}
                        </ul>
                    </div>
                    <a href="#cta-form"><button class="cta cta-template secondary">{{ section.settings.featured-equip-btn }}</button></a>
                </div>
            </div>

            <!-- Equipment Item | Reach Trucks -->
            <div class="equipment-main-container">
                <div class="equipment-item">
                    <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/electric-reach-trucks.jpg?v=1736799352" alt="Toyota Electric Reach Trucks" class="equipment-img">
                    <div class="equipment-info">
                        <div class="equipment-desc">
                            <h4>{{ section.settings.reach-truck-headline }}</h4>
                            <p>{{ section.settings.reach-truck-desc }}</p>
                        </div>
                        <hr>
                        <ul>
                            {{ section.settings.reach-truck-features }}
                        </ul>
                    </div>
                    <a href="#cta-form"><button class="cta cta-template secondary">{{ section.settings.featured-equip-btn }}</button></a>
                </div>
            </div>
            
            <!-- Equipment Item | Stand-Up Rider Forklifts -->
            <div class="equipment-main-container">
                <div class="equipment-item">
                    <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/standup-rider-forklift.jpg?v=1736799352" alt="Toyota electric Stand-Up Rider Forklifts" class="equipment-img">
                    <div class="equipment-info">
                        <div class="equipment-desc">
                            <h4>{{ section.settings.stand-up-headline }}</h4>
                            <p>{{ section.settings.stand-up-desc }}</p>
                        </div>
                        <hr>
                        <ul>
                            {{ section.settings.stand-up-features }}
                        </ul>
                    </div>
                    <a href="#cta-form"><button class="cta cta-template secondary">{{ section.settings.featured-equip-btn }}</button></a>
                </div>
            </div>

        </div>

 </section>
<!-- Electric Equipment | END -->



<!-- Environmental Benefits | START -->
<section class="environmental-benefits">

    <div class="content-main-container">

        <div class="content-container-top">
            <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/Liftow-go-green-logo.svg?v=1710180160" alt="Liftow Go Green" class="liftow-green-icon">
            <div class="content">
                <h2>{{ section.settings.environmental-section-headline }}</h2>
                <p>{{ section.settings.environmental-section-subheadline }}</p>
            </div>
        </div>
        <div class="card-container | content-container">
            <div class="card">
                <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/icon_electrification_lower-emissions-KO.svg?v=1736886121" alt="Lower emissions" class="card-icon">
                <h3>{{ section.settings.environmental-section-card-01-headline }}</h3>
                <p>{{ section.settings.environmental-section-card-01-subheadline }}</p>
            </div>
            <div class="card">
                <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/icon_electrification_air-quality-KO.svg?v=1736886121" alt="Improved air quality" class="card-icon">
                <h3>{{ section.settings.environmental-section-card-02-headline }}</h3>
                <p>{{ section.settings.environmental-section-card-02-subheadline }}</p>
            </div>
            <div class="card">
                <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/icon_electrification_net-zero-KO.svg?v=1736886121" alt="Net zero emissions" class="card-icon">
                <h3>{{ section.settings.environmental-section-card-03-headline }}</h3>
                <p>{{ section.settings.environmental-section-card-03-subheadline }}</p>
            </div>
            <div class="card">
                <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/icon_electrification_emission-goal-canada-KO.svg?v=1736886122" alt="Canadian emissions target goals" class="card-icon">
                <h3>{{ section.settings.environmental-section-card-04-headline }}</h3>
                <p>{{ section.settings.environmental-section-card-04-subheadline }}</p>
            </div>
        
        </div>

    </div>

</section>
<!-- Environmental Benefits | END -->



<!-- Operational Advantages | START -->
 <section class="operational-advantages">

    <div class="content">

        <div class="img-container">
            <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/electric-application-img-01.jpg?v=1736886862" alt="Toyota electric pneumatic forklift">
        </div>
        
            
            <div class="content-container">
    
                <h2>{{ section.settings.operational-advantages-headline }}</h2>
                <div class="feature-details">
                    <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/checkmark-icon.svg?v=1713451301" alt="checkmark" class="checkmark">
        
                    <div class="features-supporting-text-container">
                        <p class="features-supporting-text">{{ section.settings.operational-advantages-bullet-01 }}</p>
                    </div>
                </div>
                <div class="feature-details">
                    <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/checkmark-icon.svg?v=1713451301" alt="checkmark" class="checkmark">
        
                    <div class="features-supporting-text-container">
                        <p class="features-supporting-text">{{ section.settings.operational-advantages-bullet-02 }}</p>
                    </div>
                </div>
                <div class="feature-details">
                    <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/checkmark-icon.svg?v=1713451301" alt="checkmark" class="checkmark">
        
                    <div class="features-supporting-text-container">
                        <p class="features-supporting-text">{{ section.settings.operational-advantages-bullet-03 }}</p>
                    </div>
                </div>
            </div>
    
    
    </div>

 </section>
<!-- Operational Advantages | END -->



<!-- Economic Benefits | START -->
 <section class="economic-benefits">

    <div class="content-main-container">

        <div class="empty-container"> </div>

        <div class="content-card-wrapper">

            <div class="content-container">
                <h2>{{ section.settings.economic-adv-section-headline }}</h2>
                <p>{{ section.settings.economic-adv-section-subheadline }}</p>
            </div>
            
            <div class="card-container | content-container">
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/icon_electrification_reduced-energy-cost.svg?v=1736540376" alt="Reduced energy costs" class="card-icon">
                    <div class="card-content">
                        <h3>{{ section.settings.economic-adv-section-card-01-headline }}</h3>
                        <p>{{ section.settings.economic-adv-section-card-01-subheadline }}</p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/icon_electrification_lower-maintenance.svg?v=1736540376" alt="Lower maintenance costs" class="card-icon">
                    <div class="card-content">
                        <h3>{{ section.settings.economic-adv-section-card-02-headline }}</h3>
                        <p>{{ section.settings.economic-adv-section-card-02-subheadline }} </p>
                    </div>
                </div>
                <div class="card">
                    <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/icon_electrification_subsidies.svg?v=1736886463" alt="Subsidies and financial programs" class="card-icon">
                    <div class="card-content">
                        <h3>{{ section.settings.economic-adv-section-card-03-headline }}</h3>
                        <p class="last-para">{{ section.settings.economic-adv-section-card-03-subheadline }}</p>
                        <div class="sub-content-wrapper">
                            <div class="sub-content">
                                <h4>{{ section.settings.economic-adv-section-card-03-sub-bullet-01-headline }}</h4>
                                <ul>
                                    {{ section.settings.economic-adv-section-card-03-sub-bullet-01-bullets }}
                                </ul>
                            </div>
                            <div class="sub-content">
                                <h4>{{ section.settings.economic-adv-section-card-03-sub-bullet-02-headline }}</h4>
                                <ul>
                                    {{ section.settings.economic-adv-section-card-03-sub-bullet-02-bullets }}
                                </ul>
                            </div>
                            <div class="sub-content">
                                <h4>{{ section.settings.economic-adv-section-card-03-sub-bullet-03-headline }}</h4>
                                <ul>
                                    {{ section.settings.economic-adv-section-card-03-sub-bullet-03-bullets }}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>

        </div>

    </div>

 </section>
<!-- Economic Benefits | END -->



<!-- Strategic Benefits | START -->
 <section class="strategic-benefits">

    <div class="content">

        <div class="img-container">
            <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/electric-application-img-02.jpg?v=1736886862" alt="Toyota electric reach truck">
        </div>
        
            
            <div class="content-container">
    
                <h2>{{ section.settings.strategic-benefits-headline }}</h2>
                <div class="feature-details">
                    <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/checkmark-icon.svg?v=1713451301" alt="checkmark" class="checkmark">
        
                    <div class="features-supporting-text-container">
                        <p class="features-supporting-text">{{ section.settings.strategic-benefits-bullet-01 }}</p>
                    </div>
                </div>
                <div class="feature-details">
                    <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/checkmark-icon.svg?v=1713451301" alt="checkmark" class="checkmark">
        
                    <div class="features-supporting-text-container">
                        <p class="features-supporting-text">{{ section.settings.strategic-benefits-bullet-02 }}</p>
                    </div>
                </div>
                <div class="feature-details">
                    <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/checkmark-icon.svg?v=1713451301" alt="checkmark" class="checkmark">
        
                    <div class="features-supporting-text-container">
                        <p class="features-supporting-text">{{ section.settings.strategic-benefits-bullet-03 }}</p>
                    </div>
                </div>
            </div>
    
    </div>

 </section>
<!-- Strategic Benefits | END -->



<!-- CTA 02 | START -->
 <section class="cta-02">

    <div class="cta-02-content-wrapper">

        <div class="content-container">
            <div class="header-content-container">
                <h1 class="hero-main-copy">{{ section.settings.cta-02-headline }}</h1>
                <p>{{ section.settings.cta-02-subheadline }} </p>
                <a href="#" class="cta-link">
                    <button class="cta-template | hero">{{ section.settings.cta-02-button }}</button>
                </a>
            </div>
            <img src="https://cdn.shopify.com/s/files/1/1393/7021/files/electric-equipment-lineup.png?v=1736537166" alt="Liftow's Toyota lineup of electric forklifts" class="product-img ">
        </div>

    </div>

 </section>
<!-- CTA 02 | END -->

{{ 'drive-to-electrification-campaign.css' | asset_url | stylesheet_tag }}

{% schema %}
  {
    "name": "Electrification Campaign",
    "settings": [
      {
        "type": "text",
        "id": "hero-headline",
        "label": "Hero headline"
      },
      {
        "type": "text",
        "id": "hero-subheadline",
        "label": "Hero subheadline"
      },
      {
        "type": "text",
        "id": "form-headline",
        "label": "Form headline"
      },
      {
        "type": "html",
        "id": "spacer",
        "label": "Spacer"
      },
      {
        "type": "text",
        "id": "liftow-section-headline",
        "label": "Liftow section headline"
      },
      {
        "type": "text",
        "id": "liftow-section-subheadline",
        "label": "Liftow section subheadline"
      },
      {
        "type": "text",
        "id": "liftow-section-card-01-headline",
        "label": "Liftow section card 01 headline"
      },
      {
        "type": "text",
        "id": "liftow-section-card-01-subheadline",
        "label": "Liftow section card 01 subheadline"
      },
      {
        "type": "text",
        "id": "liftow-section-card-02-headline",
        "label": "Liftow section card 02 headline"
      },
      {
        "type": "text",
        "id": "liftow-section-card-02-subheadline",
        "label": "Liftow section card 02 subheadline"
      },
      {
        "type": "text",
        "id": "liftow-section-card-03-headline",
        "label": "Liftow section card 03 headline"
      },
      {
        "type": "text",
        "id": "liftow-section-card-03-subheadline",
        "label": "Liftow section card 03 subheadline"
      },
      {
        "type": "text",
        "id": "liftow-section-card-04-headline",
        "label": "Liftow section card 04 headline"
      },
      {
        "type": "text",
        "id": "liftow-section-card-04-subheadline",
        "label": "Liftow section card 04 subheadline"
      },
      {
        "type": "text",
        "id": "cost-calculator-headline",
        "label": "Cost calculator headline"
      },
      {
        "type": "richtext",
        "id": "cost-calculator-subheadline",
        "label": "Cost calculator subheadline"
      },
      {
        "type": "text",
        "id": "cost-calculator-button",
        "label": "Cost calculator button"
      },
      {
        "type": "text",
        "id": "e-bike-headline01",
        "label": "E-bike headline"
      },
      {
        "type": "text",
        "id": "e-bike-subheadline",
        "label": "E-bike subheadline"
      },
      {
        "type": "text",
        "id": "e-bike-para",
        "label": "E-bike paragraph"
      },
      {
        "type": "text",
        "id": "e-bike-button",
        "label": "E-bike button"
      },
      {
        "type": "text",
        "id": "featured-equip-headline",
        "label": "Featured equipment headline"
      },
      {
        "type": "text",
        "id": "featured-equip-subheadline",
        "label": "Featured equipment subheadline"
      },
      {
        "type": "text",
        "id": "featured-equip-btn",
        "label": "Featured equipment buttton"
      },
      {
        "type": "text",
        "id": "featured-equip-walkies-headline",
        "label": "Featured equipment walkies headline"
      },
      {
        "type": "text",
        "id": "walkies-01-headline",
        "label": "Walkies 01 headline"
      },
      {
        "type": "text",
        "id": "walkies-01-desc",
        "label": "Walkies 01 description"
      },
      {
        "type": "html",
        "id": "walkies-01-features",
        "label": "Walkies 01 features"
      },
      {
        "type": "text",
        "id": "walkies-02-headline",
        "label": "Walkies 02 headline"
      },
      {
        "type": "text",
        "id": "walkies-02-desc",
        "label": "Walkies 02 description"
      },
      {
        "type": "html",
        "id": "walkies-02-features",
        "label": "Walkies 02 features"
      },
      {
        "type": "text",
        "id": "walkies-03-headline",
        "label": "Walkies 03 headline"
      },
      {
        "type": "text",
        "id": "walkies-03-desc",
        "label": "Walkies 03 description"
      },
      {
        "type": "html",
        "id": "walkies-03-features",
        "label": "Walkies 03 features"
      },
       {
        "type": "text",
        "id": "three-wheel-headline",
        "label": "3-wheel headline"
      },
      {
        "type": "text",
        "id": "three-wheel-desc",
        "label": "3-wheel description"
      },
      {
        "type": "html",
        "id": "three-wheel-features",
        "label": "3-wheel features"
      },
       {
        "type": "text",
        "id": "core-headline",
        "label": "Core headline"
      },
      {
        "type": "text",
        "id": "core-desc",
        "label": "Core description"
      },
      {
        "type": "html",
        "id": "core-features",
        "label": "Core features"
      },
       {
        "type": "text",
        "id": "forty-eight-v-pneumatic-headline",
        "label": "48v pneumatic headline"
      },
      {
        "type": "text",
        "id": "forty-eight-v-pneumatic-desc",
        "label": "48v pneumatic description"
      },
      {
        "type": "html",
        "id": "forty-eight-v-pneumatic-features",
        "label": "48v pneumatic features"
      },
      {
        "type": "text",
        "id": "eighty-v-pneumatic-headline",
        "label": "80v pneumatic headline"
      },
      {
        "type": "text",
        "id": "eighty-v-pneumatic-desc",
        "label": "80v pneumatic description"
      },
      {
        "type": "html",
        "id": "eighty-v-pneumatic-features",
        "label": "80v pneumatic features"
      },
      {
        "type": "text",
        "id": "reach-truck-headline",
        "label": "Reach truck headline"
      },
      {
        "type": "text",
        "id": "reach-truck-desc",
        "label": "Reach truck description"
      },
      {
        "type": "html",
        "id": "reach-truck-features",
        "label": "Reach truck features"
      },
      {
        "type": "text",
        "id": "stand-up-headline",
        "label": "Stand-up headline"
      },
      {
        "type": "text",
        "id": "stand-up-desc",
        "label": "Stand-up description"
      },
      {
        "type": "html",
        "id": "stand-up-features",
        "label": "Stand-up features"
      },
      {
        "type": "text",
        "id": "environmental-section-headline",
        "label": "Environmental section headline"
      },
      {
        "type": "text",
        "id": "environmental-section-subheadline",
        "label": "Environmental section subheadline"
      },
      {
        "type": "text",
        "id": "environmental-section-card-01-headline",
        "label": "Environmental section card 01 headline"
      },
      {
        "type": "text",
        "id": "environmental-section-card-01-subheadline",
        "label": "Environmental section card 01 subheadline"
      },
      {
        "type": "text",
        "id": "environmental-section-card-02-headline",
        "label": "Environmental section card 02 headline"
      },
      {
        "type": "text",
        "id": "environmental-section-card-02-subheadline",
        "label": "Environmental section card 02 subheadline"
      },
      {
        "type": "text",
        "id": "environmental-section-card-03-headline",
        "label": "Environmental section card 03 headline"
      },
      {
        "type": "text",
        "id": "environmental-section-card-03-subheadline",
        "label": "Environmental section card 03 subheadline"
      },
      {
        "type": "text",
        "id": "environmental-section-card-04-headline",
        "label": "Environmental section card 04 headline"
      },
      {
        "type": "text",
        "id": "environmental-section-card-04-subheadline",
        "label": "Environmental section card 04 subheadline"
      },
      {
        "type": "text",
        "id": "operational-advantages-headline",
        "label": "Operational advantages headline"
      },
      {
        "type": "text",
        "id": "operational-advantages-bullet-01",
        "label": "Operational advantages bullet 01"
      },
      {
        "type": "text",
        "id": "operational-advantages-bullet-02",
        "label": "Operational advantages bullet 02"
      },
      {
        "type": "text",
        "id": "operational-advantages-bullet-03",
        "label": "Operational advantages bullet 03"
      },
      {
        "type": "text",
        "id": "economic-adv-section-headline",
        "label": "Economic advantages section headline"
      },
      {
        "type": "text",
        "id": "economic-adv-section-subheadline",
        "label": "Economic advantages section subheadline"
      },
      {
        "type": "text",
        "id": "economic-adv-section-card-01-headline",
        "label": "Economic advantages section card 01 headline"
      },
      {
        "type": "text",
        "id": "economic-adv-section-card-01-subheadline",
        "label": "Economic advantages section card 01 subheadline"
      },
      {
        "type": "text",
        "id": "economic-adv-section-card-02-headline",
        "label": "Economic advantages section card 02 headline"
      },
      {
        "type": "text",
        "id": "economic-adv-section-card-02-subheadline",
        "label": "Economic advantages section card 02 subheadline"
      },
      {
        "type": "text",
        "id": "economic-adv-section-card-03-headline",
        "label": "Economic advantages section card 03 headline"
      },
      {
        "type": "text",
        "id": "economic-adv-section-card-03-subheadline",
        "label": "Economic advantages section card 03 subheadline"
      },
      {
        "type": "text",
        "id": "economic-adv-section-card-03-sub-bullet-01-headline",
        "label": "Economic advantages section card 03 sub-bullet 01 headline"
      },
      {
        "type": "html",
        "id": "economic-adv-section-card-03-sub-bullet-01-bullets",
        "label": "Economic advantages section card 03 sub-bullet 01 bullets"
      },
      {
        "type": "text",
        "id": "economic-adv-section-card-03-sub-bullet-02-headline",
        "label": "Economic advantages section card 03 sub-bullet 02 headline"
      },
      {
        "type": "html",
        "id": "economic-adv-section-card-03-sub-bullet-02-bullets",
        "label": "Economic advantages section card 03 sub-bullet 02 bullets"
      },
      {
        "type": "text",
        "id": "economic-adv-section-card-03-sub-bullet-03-headline",
        "label": "Economic advantages section card 03 sub-bullet 03 headline"
      },
      {
        "type": "html",
        "id": "economic-adv-section-card-03-sub-bullet-03-bullets",
        "label": "Economic advantages section card 03 sub-bullet 03 bullets"
      },
      {
        "type": "text",
        "id": "strategic-benefits-headline",
        "label": "Strategic benefits headline"
      },
      {
        "type": "text",
        "id": "strategic-benefits-bullet-01",
        "label": "Strategic benefits bullet 01"
      },
      {
        "type": "text",
        "id": "strategic-benefits-bullet-02",
        "label": "Strategic benefits bullet 02"
      },
      {
        "type": "text",
        "id": "strategic-benefits-bullet-03",
        "label": "Strategic benefits bullet 03"
      },
      {
        "type": "text",
        "id": "cta-02-headline",
        "label": "CTA 02 headline"
      },
      {
        "type": "text",
        "id": "cta-02-subheadline",
        "label": "CTA 02 subheadline"
      },
      {
        "type": "text",
        "id": "cta-02-button",
        "label": "CTA 02 button"
      }
    ],
    "presets": [
      {
        "name": "Electrification Campaign"
      }
    ]
  }
{% endschema %}